*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:monospace;

}
html, body{
    height: 100%;
    width: 100%;
}

#header{
    display: flex;
    align-items: center;
    justify-content: center;   
    height: 10vh;
    font-family:monospace;
    background-color: #dadada;
}

#content{
    margin-top: 2.5vh;
    margin-left: 5vw;
}
#topics_list{
    margin-top: 2vh;
    margin-left: 2vw;
    display: flex;
    list-style: none;
}
.listelement{
    color:rgb(14, 72, 123);
    margin: 4vh;
    padding:4vh;
    border:solid 4px black;
    border-radius: 10%;
}
.listelement:hover{
    background: yellowgreen;

}    
.listelement.active{
    border:solid gold;
}    

#inputValue{
    margin: 4vh 8vh;
}

#submitButton{
    color: black;
    border:  solid 4px #dadada;
    border-radius: 30%;
    margin-left: 50vh;
    margin-top: 4vh;
    padding:2vh
}
#submitButton:hover{
    background-color: #0c745a6a;
}

#flashcards {
    width: 100%;
    min-height: 100vh;   /* full viewport height minimum */
    background-color: cyan;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards, .card {
    width: 50vw;
    height: 180px;
    perspective: 1000px;
    margin: 20px;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card.flip .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid black;
    border-radius: 10px;
    background: white;
}

.card-back {
    transform: rotateY(180deg);
    background: lightgoldenrodyellow;
}